/*header
{
    display: flex;
}
*/

#tribute-link:link{
    text-decoration: underline;
    color:slateblue
}
#tribute-link:visited{
    color:darkslateblue;
}

#tribute-link:hover{
    color:dodgerblue;
}

figure
{
    width: 620px;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}