{% extends "base.html"%} 
{% block content %}
    {% if request.user.is_authenticated%}
      Olá amigo {{request.user.username}}
    {%else%}
      Olá inimigo mortal do menino ney 
    {% endif%}
    <br/>
    Nomes do Todo: {{todo.name}}
    <br/>
    Data do Todo: {{todo.due_dt}}
        
    <br/><br/>
    <a href="/{{ todo.id }}/update-task/"> Atualize a lista de tarefas </a> <br/>
    <a href="/{{ todo.id }}/delete-task/" onclick="return confirm('Realmente deseja apagar?')"> Apague uma das tarefas da lista de tarefas </a>
{% endblock %}