<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Django Crash Course</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    
    <h4> Atualize a tarefa </h4>

    <form method="POST">
        {% csrf_token %}
          <label>Entre com os dados nas caixas de texto para realizar a mudança</label> <br/>
          <input type="text" name="name" placeholder="nome da tarefa"><br/>
          <input type="date" name="due_dt" placeholder="data da tarefa">&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="submit"> Enviar </button>
    </form>
  </body>
</html>
